<!DOCTYPE html>
<html lang="{{ DEFAULT_LANG }}">
	<head>
        {% block head %}
			<title>{% block title %}{% endblock title %} &mdash; {{ SITENAME }}</title>
			<meta charset="utf-8" />
			<meta name="viewport" content="width=device-width" />

			{% if FEED_ALL_ATOM %}
			<link href="{{ FEED_DOMAIN }}/{{ FEED_ALL_ATOM }}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} Full Atom Feed" />
			{% endif %}
			{% if FEED_ALL_RSS %}
			<link href="{{ FEED_DOMAIN }}/{{ FEED_ALL_RSS }}" type="application/rss+xml" rel="alternate" title="{{ SITENAME }} Full RSS Feed" />
			{% endif %}
			{% if FEED_ATOM %}
			<link href="{{ FEED_DOMAIN }}/{{ FEED_ATOM }}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} Atom Feed" />
			{% endif %}
			{% if FEED_RSS %}
			<link href="{{ FEED_DOMAIN }}/{{ FEED_RSS }}" type="application/rss+xml" rel="alternate" title="{{ SITENAME }} RSS Feed" />
			{% endif %}
			{% if CATEGORY_FEED_ATOM and category %}
			<link href="{{ FEED_DOMAIN }}/{{ CATEGORY_FEED_ATOM|format(category.slug) }}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} Categories Atom Feed" />
			{% endif %}
			{% if CATEGORY_FEED_RSS and category %}
			<link href="{{ FEED_DOMAIN }}/{{ CATEGORY_FEED_RSS|format(category.slug) }}" type="application/rss+xml" rel="alternate" title="{{ SITENAME }} Categories RSS Feed" />
			{% endif %}
			{% if TAG_FEED_ATOM and tag %}
			<link href="{{ FEED_DOMAIN }}/{{ TAG_FEED_ATOM|format(tag.slug) }}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} Tags Atom Feed" />
			{% endif %}
			{% if TAG_FEED_RSS and tag %}
			<link href="{{ FEED_DOMAIN }}/{{ TAG_FEED_RSS|format(tag.slug) }}" type="application/rss+xml" rel="alternate" title="{{ SITENAME }} Tags RSS Feed" />
			{% endif %}

			<link rel="stylesheet" href="/theme/css/sakura-dark.css" type="text/css" media="screen" title="no title" charset="utf-8">
			<link rel="stylesheet" href="/theme/css/pygment.css" type="text/css" media="screen" title="no title" charset="utf-8">
        {% endblock head %}

		<style type="text/css" media="screen">
			body {
				font-family: "Helivetica Neue",Helvetica,arial,sans-serif;
			}
		</style>
	</head>

	<body>
        <header>
			<nav>
				<a href="/">{{ SITENAME }}</a>
				[
					{% for page in pages %}
						<a href={{ page.url }}>{{ page.slug }}</a>,&nbsp;
					{% endfor %}

					{% for link_name, link_href in LINKS %}
						<a href={{ link_href }}>{{ link_name }}</a>
						{% if not loop.last %}
							,&nbsp;
						{% endif %}
					{% else %}
						,&nbsp;
					{% endfor %}
				]
			</nav>
        </header>
		<main>
			{% block content %}
			{% endblock %}
		</main>
    {% block scripts %}
    {% endblock %}
	</body>
</html>
